In [1]:
#Web scraping: the use of a program or algorithm to extract and process large amounts of data from the web.
import pandas as pd
pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")
#Read HTML tables into a "list" of "DataFrame" objects
#in below we can see the list of all tables and data frames

[                                                   0  \
 0  Historical logarithmic graph of the DJIA from ...
 1                                         Foundation
 2                                           Operator
 3                                          Exchanges
 4                                     Trading symbol
 5                                       Constituents
 6                                               Type
 7                                         Market cap
 8                                   Weighting method
 9                                            Website

                                                    1
 0  Historical logarithmic graph of the DJIA from ...
 1  February 16, 1885; 137 years ago[1]May 26, 189...
 2                              S&P Dow Jones Indices
 3                      New York Stock ExchangeNASDAQ
 4                                  ^DJI$INDU.DJIDJIA
 5                                                 30
 6                                          Large cap
 7           US$10.35 trillion(as of June 3, 2022)[3]
 8                               Price-weighted index
 9  us.spindices.com/indices/equity/dow-jones-indu...  ,
                      Company Exchange Symbol                        Industry  \
 0                         3M     NYSE    MMM                    Conglomerate
 1           American Express     NYSE    AXP              Financial services
 2                      Amgen   NASDAQ   AMGN               Biopharmaceutical
 3                      Apple   NASDAQ   AAPL          Information technology
 4                     Boeing     NYSE     BA           Aerospace and defense
 5                Caterpillar     NYSE    CAT         Construction and Mining
 6                    Chevron     NYSE    CVX              Petroleum industry
 7                      Cisco   NASDAQ   CSCO          Information technology
 8                  Coca-Cola     NYSE     KO                  Drink industry
 9                     Disney     NYSE    DIS  Broadcasting and entertainment
 10                       Dow     NYSE    DOW               Chemical industry
 11             Goldman Sachs     NYSE     GS              Financial services
 12                Home Depot     NYSE     HD                Home Improvement
 13                 Honeywell   NASDAQ    HON                    Conglomerate
 14                       IBM     NYSE    IBM          Information technology
 15                     Intel   NASDAQ   INTC          Semiconductor industry
 16         Johnson & Johnson     NYSE    JNJ         Pharmaceutical industry
 17            JPMorgan Chase     NYSE    JPM              Financial services
 18                McDonald's     NYSE    MCD                   Food industry
 19                     Merck     NYSE    MRK         Pharmaceutical industry
 20                 Microsoft   NASDAQ   MSFT          Information technology
 21                      Nike     NYSE    NKE               Clothing industry
 22          Procter & Gamble     NYSE     PG      Fast-moving consumer goods
 23                Salesforce     NYSE    CRM          Information technology
 24                 Travelers     NYSE    TRV                       Insurance
 25              UnitedHealth     NYSE    UNH             Managed health care
 26                   Verizon     NYSE     VZ     Telecommunications industry
 27                      Visa     NYSE      V              Financial services
 28  Walgreens Boots Alliance   NASDAQ    WBA                       Retailing
 29                   Walmart     NYSE    WMT                       Retailing

     Date added                                              Notes  \
 0   1976-08-09              As Minnesota Mining and Manufacturing
 1   1982-08-30                                                NaN
 2   2020-08-31                                                NaN
 3   2015-03-19                                                NaN
 4   1987-03-12                                                NaN
 5   1991-05-06                                                NaN
 6   2008-02-19                      Also 1930-07-18 to 1999-11-01
 7   2009-06-08                                                NaN
 8   1987-03-12                      Also 1932-05-26 to 1935-11-20
 9   1991-05-06                                                NaN
 10  2019-04-02                                                NaN
 11  2013-09-20                                                NaN
 12  1999-11-01                                                NaN
 13  2020-08-31  Also 1925-12-07 to 2008-02-19 under various na...
 14  1979-06-29                      Also 1932-05-26 to 1939-03-04
 15  1999-11-01                                                NaN
 16  1997-03-17                                                NaN
 17  1991-05-06                                                NaN
 18  1985-10-30                                                NaN
 19  1979-06-29                                                NaN
 20  1999-11-01                                                NaN
 21  2013-09-20                                                NaN
 22  1932-05-26                                                NaN
 23  2020-08-31                                                NaN
 24  2009-06-08                                                NaN
 25  2012-09-24                                                NaN
 26  2004-04-08                                                NaN
 27  2013-09-20                                                NaN
 28  2018-06-26                                                NaN
 29  1997-03-17                                                NaN

    Index weighting
 0            2.88%
 1            3.56%
 2            4.88%
 3            3.15%
 4            3.40%
 5            4.19%
 6            3.05%
 7            1.00%
 8            1.28%
 9            2.32%
 10           1.32%
 11           6.22%
 12           5.90%
 13           3.71%
 14           2.69%
 15           0.91%
 16           3.60%
 17           2.45%
 18           4.89%
 19           1.65%
 20           5.43%
 21           2.48%
 22           3.15%
 23           3.38%
 24           3.38%
 25          10.14%
 26           0.97%
 27           4.06%
 28           0.88%
 29           3.04%  ,
      Year  Closing Value Net Change % Change
 0    1896          40.45      −0.49    −1.20
 1    1897          49.41      +8.96   +22.15
 2    1898          60.52     +11.11   +22.49
 3    1899          66.08      +5.56    +9.19
 4    1900          70.71      +4.63    +7.01
 ..    ...            ...        ...      ...
 121  2017       24719.22   +4956.62   +25.08
 122  2018       23327.46  −1,391.76    −5.63
 123  2019       28538.44   +5210.98   +22.34
 124  2020       30606.48   +2068.04    +7.25
 125  2021       36338.30   +5731.82   +18.73

 [126 rows x 4 columns],
            Date    Divisor  $1 change (points)
 0    2021-11-04   0.151728            6.590762
 1    2021-06-03   0.151885            6.583921
 2    2020-08-31   0.151987            6.579507
 3    2020-04-03   0.145798            6.858799
 4    2019-04-02   0.147446            6.782159
 ..          ...        ...                 ...
 235  1929-01-08  12.110000            0.082576
 236  1928-12-26  13.920000            0.071839
 237  1928-12-13  14.650000            0.068259
 238  1928-11-05  16.020000            0.062422
 239  1928-10-01  16.670000            0.059988

 [240 rows x 3 columns],
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteComponents of the Dow Jones Industrial Average  \
 0  3M American Express Amgen Apple Boeing Caterpi...

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteComponents of the Dow Jones Industrial Average.1
 0  3M American Express Amgen Apple Boeing Caterpi...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ,
   vteMajor North and South American stock market indices  \
 0                                      United States
 1                                             Canada
 2                                             Mexico
 3                                           Colombia
 4                                             Brazil
 5                                              Chile
 6                                          Argentina
 7                                               Peru

   vteMajor North and South American stock market indices.1
 0  Dow Jones Industrial Average Dow Jones Transpo...
 1                 S&P/TSX 60 S&P/TSX Composite Index
 2                   Indice de Precios y Cotizaciones
 3  COLCAP Indice General de la Bolsa de Valores d...
 4                                     Índice Bovespa
 5             Índice de Precio Selectivo de Acciones
 6                                             MERVAL
 7                         S&P/BVL Peru General Index        ,
                                          vteNews Corp  \
 0                     Sister company: Fox Corporation
 1   vteDow Jones & CompanyNational consumer produc...
 2                              vteDow Jones & Company
 3                          National consumer products
 4                                 Enterprise products
 5   vteHarperCollinsUnited States Avon Caedmon Ecc...
 6                                    vteHarperCollins
 7                                       United States
 8                                      United Kingdom
 9                                           Australia
 10                                          Christian
 11                                             Canada
 12  vteNews Corp AustraliaNewspapersMetropolitan T...
 13                             vteNews Corp Australia
 14                                         Newspapers
 15                                       Metropolitan
 16                                           Regional
 17                                         Queensland
 18                                              Other
 19  vteNews Corp Australia community newspapersNew...
 20        vteNews Corp Australia community newspapers
 21                                    NewsLocal (NSW)
 22                                     Messenger (SA)
 23                                        Quest (Qld)
 24                                           Victoria
 25                                         Television
 26                              vteSky News Australia
 27                                           Channels
 28                                             Active
 29                                            Defunct
 30                                         Presenters
 31                                            Current
 32                                             Former
 33                                        Programming
 34                  vteSky News Australia programming
 35                                            Current
 36                                            Daytime
 37                                          Primetime
 38                                             Former
 39                                            Daytime
 40                                          Primetime
 41                                          Magazines
 42                                              Other
 43                                     Formerholdings
 44  vteNews UKNewspapers The Times The Sunday Time...
 45                                         vteNews UK
 46                                         Newspapers
 47                                           Magazine
 48                                              Radio
 49                                         Television
 50                                       Other assets
 51      See also: 21st Century Fox · News Corporation

                                        vteNews Corp.1
 0                     Sister company: Fox Corporation
 1   vteDow Jones & CompanyNational consumer produc...
 2                              vteDow Jones & Company
 3   Barron's Financial News Investor's Business Da...
 4                Factiva S&P Dow Jones Indices (2.6%)
 5   vteHarperCollinsUnited States Avon Caedmon Ecc...
 6                                    vteHarperCollins
 7   Avon Caedmon Ecco Harper Harper Perennial I Ca...
 8   William Collins, Sons Collins Bartholomew The ...
 9                                   Angus & Robertson
 10  BibleGateway.com Thomas Nelson Women of Faith ...
 11           Harlequin Enterprises Love Inspired Mira
 12  vteNews Corp AustraliaNewspapersMetropolitan T...
 13                             vteNews Corp Australia
 14  Metropolitan The Australian The Daily Telegrap...
 15  The Australian The Daily Telegraph (Sydney) He...
 16  Queensland Balonne Beacon Bowen Independent Th...
 17  Balonne Beacon Bowen Independent The Cairns Po...
 18  The Coffs Coast Advocate The Daily Examiner Ge...
 19  vteNews Corp Australia community newspapersNew...
 20        vteNews Corp Australia community newspapers
 21  Manly Daily North Shore Times Northern Distric...
 22  News Review Leader Standard Eastern Courier Ea...
 23                      South-West News Southern Star
 24                        Leader Community Newspapers
 25  vteSky News AustraliaChannelsActive Sky News L...
 26                              vteSky News Australia
 27  Active Sky News Live Sky News Extra Sky News W...
 28  Sky News Live Sky News Extra Sky News Weather ...
 29  Sky News Business Channel Sky News Election Ch...
 30  Current Kieran Gilbert Ashleigh Gillon Vanessa...
 31  Kieran Gilbert Ashleigh Gillon Vanessa Grimm S...
 32  Samantha Armytage Helen Dalley Georgie Gardner...
 33  vteSky News Australia programmingCurrentDaytim...
 34                  vteSky News Australia programming
 35  Daytime Agenda First Edition Weekend Outsiders...
 36             Agenda First Edition Weekend Outsiders
 37           Credlin Paul Murray Live The Bolt Report
 38  Daytime Keneally and Cameron PVO NewsDay Pyne ...
 39  Keneally and Cameron PVO NewsDay Pyne & Marles...
 40  Credlin Keneally Friday Live Hinch Live Hadley...
 41            Big League GQ Australia Vogue Australia
 42  Brisbane Broncos (69%) Foxtel (65%) HT&E (15%)...
 43  Australian Associated Press (47%) ADS (Adelaid...
 44  vteNews UKNewspapers The Times The Sunday Time...
 45                                         vteNews UK
 46                 The Times The Sunday Times The Sun
 47                      The Times Literary Supplement
 48  Wireless Group TalkRadio Talksport Times Radio...
 49                                             TalkTV
 50  Move Realtor.com New York Post News America Ma...
 51      See also: 21st Century Fox · News Corporation  ,
        vteDow Jones & Company  \
 0  National consumer products
 1         Enterprise products

                             vteDow Jones & Company.1
 0  Barron's Financial News Investor's Business Da...
 1               Factiva S&P Dow Jones Indices (2.6%)  ,
   vteHarperCollins                                 vteHarperCollins.1
 0    United States  Avon Caedmon Ecco Harper Harper Perennial I Ca...
 1   United Kingdom  William Collins, Sons Collins Bartholomew The ...
 2        Australia                                  Angus & Robertson
 3        Christian  BibleGateway.com Thomas Nelson Women of Faith ...
 4           Canada           Harlequin Enterprises Love Inspired Mira,
                                vteNews Corp Australia  \
 0                                          Newspapers
 1                                        Metropolitan
 2                                            Regional
 3                                          Queensland
 4                                               Other
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7                                     NewsLocal (NSW)
 8                                      Messenger (SA)
 9                                         Quest (Qld)
 10                                           Victoria
 11                                         Television
 12                              vteSky News Australia
 13                                           Channels
 14                                             Active
 15                                            Defunct
 16                                         Presenters
 17                                            Current
 18                                             Former
 19                                        Programming
 20                  vteSky News Australia programming
 21                                            Current
 22                                            Daytime
 23                                          Primetime
 24                                             Former
 25                                            Daytime
 26                                          Primetime
 27                                          Magazines
 28                                              Other
 29                                     Formerholdings

                              vteNews Corp Australia.1
 0   Metropolitan The Australian The Daily Telegrap...
 1   The Australian The Daily Telegraph (Sydney) He...
 2   Queensland Balonne Beacon Bowen Independent Th...
 3   Balonne Beacon Bowen Independent The Cairns Po...
 4   The Coffs Coast Advocate The Daily Examiner Ge...
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7   Manly Daily North Shore Times Northern Distric...
 8   News Review Leader Standard Eastern Courier Ea...
 9                       South-West News Southern Star

In [2]:
const = pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")[1]
const  #const : constituents
#we can drop columns that we don't need like notes,... 
#we just choose first 5 columns
const = const.iloc[:, :5].copy()
const

,Company,Exchange,Symbol,Industry,Date added
0,3M,NYSE,MMM,Conglomerate,1976-08-09
1,American Express,NYSE,AXP,Financial services,1982-08-30
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12
5,Caterpillar,NYSE,CAT,Construction and Mining,1991-05-06
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08
8,Coca-Cola,NYSE,KO,Drink industry,1987-03-12
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06
10,Dow,NYSE,DOW,Chemical industry,2019-04-02
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-20
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31
14,IBM,NYSE,IBM,Information technology,1979-06-29
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06
18,McDonald's,NYSE,MCD,Food industry,1985-10-30
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01
21,Nike,NYSE,NKE,Clothing industry,2013-09-20
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26
23,Salesforce,NYSE,CRM,Information technology,2020-08-31
24,Travelers,NYSE,TRV,Insurance,2009-06-08
25,UnitedHealth,NYSE,UNH,Managed health care,2012-09-24
26,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08
27,Visa,NYSE,V,Financial services,2013-09-20
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26
29,Walmart,NYSE,WMT,Retailing,1997-03-17

In [3]:
const.rename(columns = {"Date added":"Date_Added"}, inplace=True)
#first we should use a usable name with underscore
const.Date_Added = pd.to_datetime(const.Date_Added)
#then changing the name of Date_Added to datetime
const.info()
#we have no missing values, we have company, exchange, symbol, industry & 
#(datetime in the column date_added

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

### Normalizing Unicode Strings and Getting the Ticker Symbols

In [4]:
const
#now we want to extract symbols from symbol column

,Company,Exchange,Symbol,Industry,Date_Added
0,3M,NYSE,MMM,Conglomerate,1976-08-09
1,American Express,NYSE,AXP,Financial services,1982-08-30
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12
5,Caterpillar,NYSE,CAT,Construction and Mining,1991-05-06
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08
8,Coca-Cola,NYSE,KO,Drink industry,1987-03-12
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06
10,Dow,NYSE,DOW,Chemical industry,2019-04-02
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-20
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31
14,IBM,NYSE,IBM,Information technology,1979-06-29
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06
18,McDonald's,NYSE,MCD,Food industry,1985-10-30
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01
21,Nike,NYSE,NKE,Clothing industry,2013-09-20
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26
23,Salesforce,NYSE,CRM,Information technology,2020-08-31
24,Travelers,NYSE,TRV,Insurance,2009-06-08
25,UnitedHealth,NYSE,UNH,Managed health care,2012-09-24
26,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08
27,Visa,NYSE,V,Financial services,2013-09-20
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26
29,Walmart,NYSE,WMT,Retailing,1997-03-17

In [5]:
const.Symbol

0      MMM
1      AXP
2     AMGN
3     AAPL
4       BA
5      CAT
6      CVX
7     CSCO
8       KO
9      DIS
10     DOW
11      GS
12      HD
13     HON
14     IBM
15    INTC
16     JNJ
17     JPM
18     MCD
19     MRK
20    MSFT
21     NKE
22      PG
23     CRM
24     TRV
25     UNH
26      VZ
27       V
28     WBA
29     WMT
Name: Symbol, dtype: object

In [6]:
const.Symbol[0]

'MMM'

In [7]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [8]:
import unicodedata

In [9]:
const.Symbol.apply(lambda x: unicodedata.normalize("NFKD", x))[0]
# return the normal form 'form' for the unicode string unistr

'MMM'

In [10]:
const.Symbol[1]

'AXP'

In [11]:
const.Symbol.str.split(": ").apply(lambda x: x[-1])

0      MMM
1      AXP
2     AMGN
3     AAPL
4       BA
5      CAT
6      CVX
7     CSCO
8       KO
9      DIS
10     DOW
11      GS
12      HD
13     HON
14     IBM
15    INTC
16     JNJ
17     JPM
18     MCD
19     MRK
20    MSFT
21     NKE
22      PG
23     CRM
24     TRV
25     UNH
26      VZ
27       V
28     WBA
29     WMT
Name: Symbol, dtype: object

In [12]:
const["Ticker"] = const.Symbol.str.split(": ").apply(lambda x: x[-1])

In [13]:
const

,Company,Exchange,Symbol,Industry,Date_Added,Ticker
0,3M,NYSE,MMM,Conglomerate,1976-08-09,MMM
1,American Express,NYSE,AXP,Financial services,1982-08-30,AXP
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,AMGN
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19,AAPL
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,BA
5,Caterpillar,NYSE,CAT,Construction and Mining,1991-05-06,CAT
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,CVX
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,CSCO
8,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,KO
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,DIS
10,Dow,NYSE,DOW,Chemical industry,2019-04-02,DOW
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-20,GS
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,HD
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,HON
14,IBM,NYSE,IBM,Information technology,1979-06-29,IBM
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01,INTC
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,JNJ
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,JPM
18,McDonald's,NYSE,MCD,Food industry,1985-10-30,MCD
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,MRK
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,MSFT
21,Nike,NYSE,NKE,Clothing industry,2013-09-20,NKE
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,PG
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,CRM
24,Travelers,NYSE,TRV,Insurance,2009-06-08,TRV
25,UnitedHealth,NYSE,UNH,Managed health care,2012-09-24,UNH
26,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,VZ
27,Visa,NYSE,V,Financial services,2013-09-20,V
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,WBA
29,Walmart,NYSE,WMT,Retailing,1997-03-17,WMT

In [14]:
ticker_list = const.Ticker.to_list()

In [15]:
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT']

In [16]:
const.to_csv("const.csv", index = False)

In [17]:
import pandas as pd
import yfinance as yf

In [18]:
yf.download("^DJI")  #dowjones industrial ticker index
#we get the full history from fist date data was available: 1992
#open price, close price, trading volume, ...

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1992-01-02,3152.100098,3172.629883,3139.310059,3172.399902,3172.399902,23550000
1992-01-03,3172.399902,3210.639893,3165.919922,3201.500000,3201.500000,23620000
1992-01-06,3201.500000,3213.330078,3191.860107,3200.100098,3200.100098,27280000
1992-01-07,3200.100098,3210.199951,3184.479980,3204.800049,3204.800049,25510000
1992-01-08,3204.800049,3229.199951,3185.820068,3203.899902,3203.899902,29040000
...,...,...,...,...,...,...
2022-09-20,30888.529297,30888.529297,30465.910156,30706.230469,30706.230469,317970000
2022-09-21,30819.390625,31020.789062,30181.990234,30183.779297,30183.779297,354960000
2022-09-22,30204.519531,30302.279297,29994.529297,30076.679688,30076.679688,335270000
2022-09-23,29955.650391,29955.650391,29250.470703,29590.410156,29590.410156,388200000
2022-09-26,29536.839844,29630.769531,29161.119141,29260.810547,29260.810547,369450000

In [19]:
dji = yf.download("^DJI", start = "2010-01-01", end = "2022-09-01")

[*********************100%***********************]  1 of 1 completed

In [20]:
dji

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,10430.690430,10604.969727,10430.690430,10583.959961,10583.959961,179780000
2010-01-05,10584.559570,10584.559570,10522.519531,10572.019531,10572.019531,188540000
2010-01-06,10564.719727,10594.990234,10546.549805,10573.679688,10573.679688,186040000
2010-01-07,10571.110352,10612.370117,10505.209961,10606.860352,10606.860352,217390000
2010-01-08,10606.400391,10619.400391,10554.330078,10618.190430,10618.190430,172710000
...,...,...,...,...,...,...
2022-08-25,33029.269531,33306.089844,32889.851562,33291.781250,33291.781250,308530000
2022-08-26,33293.429688,33364.699219,32278.220703,32283.400391,32283.400391,352850000
2022-08-29,32188.000000,32325.160156,31972.789062,32098.990234,32098.990234,317820000
2022-08-30,32163.839844,32205.660156,31647.220703,31790.869141,31790.869141,317150000
2022-08-31,31827.150391,31966.039062,31509.589844,31510.429688,31510.429688,392780000

In [21]:
dji.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3188 entries, 2010-01-04 to 2022-08-31
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       3188 non-null   float64
 1   High       3188 non-null   float64
 2   Low        3188 non-null   float64
 3   Close      3188 non-null   float64
 4   Adj Close  3188 non-null   float64
 5   Volume     3188 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 174.3 KB

In [22]:
dji.to_csv("dji.csv")

In [23]:
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT']

In [24]:
prices = yf.download(ticker_list, start = "2010-01-01", end = "2022-09-01")

[*********************100%***********************]  30 of 30 completed

In [25]:
prices

             Adj Close                                                  \
                  AAPL        AMGN         AXP          BA         CAT
Date
2010-01-04    6.526021   43.565189   33.921696   43.777546   41.629898
2010-01-05    6.537302   43.187809   33.847080   45.211349   42.127605
2010-01-06    6.433318   42.863262   34.394203   46.582806   42.255589
2010-01-07    6.421425   42.470798   34.952053   48.468559   42.426228
2010-01-08    6.464118   42.848164   34.927067   48.001026   42.902596
...                ...         ...         ...         ...         ...
2022-08-25  170.029999  245.679993  162.229996  169.380005  198.880005
2022-08-26  163.619995  240.649994  157.309998  164.529999  191.919998
2022-08-29  161.380005  239.380005  154.539993  165.419998  191.779999
2022-08-30  158.910004  239.119995  154.660004  162.210007  186.940002
2022-08-31  157.220001  240.300003  152.000000  160.250000  184.710007

                                                                      ...  \
                   CRM       CSCO         CVX         DIS        DOW  ...
Date                                                                  ...
2010-01-04   18.705000  17.695969   47.631680   27.933922        NaN  ...
2010-01-05   18.625000  17.617125   47.969082   27.864237        NaN  ...
2010-01-06   18.592501  17.502449   47.975105   27.716164        NaN  ...
2010-01-07   18.510000  17.581291   47.794346   27.724878        NaN  ...
2010-01-08   18.537500  17.674465   47.878693   27.768423        NaN  ...
...                ...        ...         ...         ...        ...  ...
2022-08-25  173.910004  47.270000  164.619995  117.459999  55.031384  ...
2022-08-26  165.229996  45.889999  163.410004  114.070000  53.748371  ...
2022-08-29  160.210007  45.709999  164.630005  113.529999  52.869999  ...
2022-08-30  159.669998  45.240002  160.619995  112.430000  51.380001  ...
2022-08-31  156.119995  44.720001  158.059998  112.080002  51.000000  ...

              Volume                                                   \
                 MRK      MSFT       NKE       PG       TRV       UNH
Date
2010-01-04  14563532  38409100  11972400  9190800   3716000  12199500
2010-01-05  15452550  49749600   6275200  8649400   5941900  11180700
2010-01-06  15971415  58182400  13399200  9908400  10124500   9761100
2010-01-07  12488597  50559700   7187600  8972800   4901600  11789800
2010-01-08  11283921  51197400   7249600  8464600   3933100   7228700
...              ...       ...       ...      ...       ...       ...
2022-08-25   5884300  16583400   5433700  5097600   1231300   1965800
2022-08-26   5695300  27549300   6203600  6086600   1161500   1906700
2022-08-29   7850200  20338500   4132400  5272100    819600   1594000
2022-08-30   6754000  22767100   5129500  5203700    953900   2013400
2022-08-31  11602000  24791800   8884800  8406900   1514300   2891300


                   V        VZ       WBA       WMT
Date
2010-01-04  20180000  16176648   8171000  20753100
2010-01-05  25833600  23722957  10843200  15648400
2010-01-06  16254000  37506464   8945400  12517200
2010-01-07  27841200  25508242   5040700  10662700
2010-01-08  11907200  20658308   6139800  11363200
...              ...       ...       ...       ...
2022-08-25   4495000  14327600   6433300   6471500
2022-08-26   5060200  16795700   6927600   7110600
2022-08-29   4476200  15039500   5316400   5793900
2022-08-30   3918200  20705100   6668800   4822700
2022-08-31   6559000  28368200   7828500   7486900

[3188 rows x 180 columns]

In [26]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3188 entries, 2010-01-04 to 2022-08-31
Columns: 180 entries, ('Adj Close', 'AAPL') to ('Volume', 'WMT')
dtypes: float64(151), int64(29)
memory usage: 4.4 MB

In [27]:
prices = prices.loc[:,"Close"].copy()
#its sufficient to have daily close prices at the end of the day

In [28]:
prices

,AAPL,AMGN,AXP,BA,CAT,CRM,CSCO,CVX,DIS,DOW,...,MRK,MSFT,NKE,PG,TRV,UNH,V,VZ,WBA,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,7.643214,57.720001,40.919998,56.180000,58.549999,18.705000,24.690001,79.059998,32.070000,NaN,...,35.314884,30.950001,16.337500,61.119999,49.810001,31.530001,22.035000,31.212946,37.299999,54.230000
2010-01-05,7.656429,57.220001,40.830002,58.020000,59.250000,18.625000,24.580000,79.620003,31.990000,NaN,...,35.458015,30.959999,16.402500,61.139999,48.630001,31.480000,21.782499,31.269218,37.000000,53.689999
2010-01-06,7.534643,56.790001,41.490002,59.779999,59.430000,18.592501,24.420000,79.629997,31.820000,NaN,...,35.935116,30.770000,16.302500,60.849998,47.939999,31.790001,21.490000,29.937416,36.720001,53.570000
2010-01-07,7.520714,56.270000,41.980000,62.200001,59.669998,18.510000,24.530001,79.330002,31.830000,NaN,...,35.992367,30.450001,16.462500,60.520000,48.630001,33.009998,21.690001,29.759218,36.939999,53.599998
2010-01-08,7.570714,56.770000,41.950001,61.599998,60.340000,18.537500,24.660000,79.470001,31.879999,NaN,...,35.973282,30.660000,16.430000,60.439999,48.560001,32.700001,21.750000,29.777975,36.990002,53.330002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-25,170.029999,245.679993,162.229996,169.380005,198.880005,173.910004,47.270000,164.619995,117.459999,55.759998,...,90.269997,278.850006,113.220001,145.699997,168.979996,541.570007,209.820007,43.740002,36.799999,135.869995
2022-08-26,163.619995,240.649994,157.309998,164.529999,191.919998,165.229996,45.889999,163.410004,114.070000,54.459999,...,89.260002,268.089996,108.279999,142.289993,166.839996,529.250000,202.889999,43.250000,36.000000,131.600006
2022-08-29,161.380005,239.380005,154.539993,165.419998,191.779999,160.210007,45.709999,164.630005,113.529999,53.570000,...,87.589996,265.230011,107.879997,141.690002,165.360001,529.770020,202.330002,43.330002,35.959999,132.880005
2022-08-30,158.910004,239.119995,154.660004,162.210007,186.940002,159.669998,45.240002,160.619995,112.430000,51.380001,...,86.879997,262.970001,107.860001,140.179993,163.460007,522.840027,201.380005,42.529999,35.180000,132.479996
2022-08-31,157.220001,240.300003,152.000000,160.250000,184.710007,156.119995,44.720001,158.059998,112.080002,51.000000,...,85.360001,261.470001,106.449997,137.940002,161.639999,519.330017,198.710007,41.810001,35.060001,132.550003

In [29]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3188 entries, 2010-01-04 to 2022-08-31
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    3188 non-null   float64
 1   AMGN    3188 non-null   float64
 2   AXP     3188 non-null   float64
 3   BA      3188 non-null   float64
 4   CAT     3188 non-null   float64
 5   CRM     3188 non-null   float64
 6   CSCO    3188 non-null   float64
 7   CVX     3188 non-null   float64
 8   DIS     3188 non-null   float64
 9   DOW     871 non-null    float64
 10  GS      3188 non-null   float64
 11  HD      3188 non-null   float64
 12  HON     3188 non-null   float64
 13  IBM     3188 non-null   float64
 14  INTC    3188 non-null   float64
 15  JNJ     3188 non-null   float64
 16  JPM     3188 non-null   float64
 17  KO      3188 non-null   float64
 18  MCD     3188 non-null   float64
 19  MMM     3188 non-null   float64
 20  MRK     3188 non-null   float64
 21  MSFT    3188 non-null   float64
 22  NKE     3188 non-null   float64
 23  PG      3188 non-null   float64
 24  TRV     3188 non-null   float64
 25  UNH     3188 non-null   float64
 26  V       3188 non-null   float64
 27  VZ      3188 non-null   float64
 28  WBA     3188 non-null   float64
 29  WMT     3188 non-null   float64
dtypes: float64(30)
memory usage: 772.1 KB

In [30]:
prices.to_csv("const_prices.csv")